h1, ion-card-title {
  text-align: center;
  font-size: 2em;
 justify-content: center;
}

ion-card-subtitle {
  display: flex;
  justify-content: center;
}

ion-button {
display: flex;
justify-content: center;
}

